<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Display Applications</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="formstyle.css">
</head>
<body background-color="white" >


  <header class="text-black body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center" >
      <nav class="flex lg:w-2/5 flex-wrap items-center text-base md:ml-auto">
        <a class="mr-5 hover:text-gray-900"><a href ="home.html"> Home </a></a>
        <a class="mr-5 hover:text-gray-900"><a href ="profile.html"> Profile </a></a>
        <a class="mr-5 hover:text-gray-900"><a href ="application.html"> Applications </a></a>

      </nav>
      <a class="flex order-first lg:order-none lg:w-1/5 title-font font-medium items-center text-gray-900 lg:items-center lg:justify-center mb-4 md:mb-0">
        <span class="ml-3 text-xl"> <p style="color: rgb(0, 0, 0);">Internship Application Portal</p></span>
      </a>
      <div class="lg:w-2/5 inline-flex lg:justify-end ml-5 lg:ml-0">
        <button class="inline-flex items-center bg-gray border-0 py-1 px-3 focus:outline-none hover:bg-gray-600 rounded text-base mt-4 md:mt-0"()> <a href ="login1.html">Logout </a>
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </button>
        
      </div>
    </div>
  </header>
  <h1>Applications</h1>
  
  <div th:each="app : ${app}">
    <div class="entry">
      <p>Roll Number: <span th:text="${app.studentId}"></span></p>
      <p>Internship ID: <span th:text="${app.internshipId}"></span></p>
      <p>Name Of Company: <span th:text="${app.companyname}"></span></p>
      <p>Office Address: <span th:text="${app.companyoffice}"></span></p>
      <p>Start Date: <span th:text="${app.startdate}"></span></p>
      <p>End Date: <span th:text="${app.enddate}"></span></p>
      <p>Start Time: <span th:text="${app.starttime}"></span></p>
      <p>End Time: <span th:text="${app.endtime}"></span></p>
      <p>Position: <span th:text="${app.position}"></span></p>
      <p>Mode: <span th:text="${app.mode}"></span></p>
      <p>Stipend: <span th:text="${app.stipend}"></span></p>
      <p>Work Address: <span th:text="${app.workaddress}"></span></p>
      <p>Status: <span th:text="${app.status}"></span></p><br><br><br><br>
    </div>
  </div>
</body>
</html>






